/* src/index.css or src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* margin: 0;
  padding: 0; */
  /* background-color: #1B0029!important; */
  /* width: 100%; */
  /* box-sizing: border-box; */

}
body{
  background-color: #1b0029 !important;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
}
div{
  box-sizing: border-box;
}
.nav{
  background-color: transparent;
  
}
.custom-height {
  height: calc((50vw - 12.5px) * 0.5);
}
.card-width{
  width: calc(100% / 3 - 60px / 3);
}
